body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 1rem;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button-row button {
  flex: 1;
}

#close {
  display: flex;
  justify-content: flex-end;
}

.nav {
  display: none;
  max-width: 70%;
}

.nav ul {
  display: flex;
  gap: 1rem;
}

img {
  max-width: 100%;
}

#menu {
  border: none;
  background: none;
}

#close {
  border: none;
  background: none;
}

.nav-active {
  position: fixed;
  width: 100%;
  left: 30%;
  display: block;
  height: 100vh;
  background: #fff;
}

.nav-active ul {
  display: flex;
  flex-direction: column;
}

#desktop {
  display: none;
}

@media screen and (width >= 35rem) {
  .nav {
    display: block;
  }
  #menu {
    display: none;
  }
  #close {
    display: none;
  }
  #mobile {
    display: none;
  }
  #desktop {
    display: block;
  }
}
