@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: hsl(36, 100%, 99%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 0.9375rem;
}

.attribution a {
  font-size: 0.6875rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.overlay-active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.nav-row {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
}

button:hover {
  cursor: pointer;
}

.button-row {
  display: flex;
  flex-direction: row;
}

.button-row button {
  flex: 1;
}

#close {
  display: flex;
  justify-content: flex-end;
}

.nav {
  border: none;
  display: none;
  flex-direction: column;
  max-width: 70%;
  gap: 8rem;
  padding: 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  left: 30%;
  height: 100vh;
  background: #fff;
}

.nav-active {
  display: flex;
  z-index: 999;
}

.nav a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: hsl(240, 100%, 5%);
}

.nav ul a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.nav ul {
  display: flex;
  gap: 2rem;
}

img {
  max-width: 100%;
}

.title {
  color: hsl(240, 100%, 5%);
  line-height: 1;
  font-size: 2.5rem;
  font-weight: 800;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link p {
  color: hsl(236, 13%, 42%);
  line-height: 1.5;
}

#menu {
  border: none;
  background: none;
}

#close {
  border: none;
  background: none;
}

.nav-active ul {
  display: flex;
  flex-direction: column;
}

#read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.8125rem;
  width: 11.25rem;
  text-transform: uppercase;
  color: hsl(36, 100%, 99%);
  background-color: hsl(5, 85%, 63%);
  letter-spacing: 0.25rem;
  font-size: 0.9375rem;
  font-weight: 400;
  text-decoration: none;
}

#read-more:hover {
  cursor: pointer;
  background-color: hsl(240, 100%, 5%);
}

.numbers-section {
  display: flex;
}

#desktop {
  display: none;
}

.middle {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 100%, 5%);
  gap: 1rem;
}

.middle ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.middle li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.middle li:nth-child(1),
.middle li:nth-child(2) {
  border-bottom: 0.0625rem solid hsl(233, 8%, 79%, 0.5);
}

.middle h2 {
  font-size: 1.6rem;
  color: hsl(35, 77%, 62%);
}

.middle a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 700;
}

.middle a:hover {
  cursor: pointer;
  color: hsl(35, 77%, 62%);
}

.middle p {
  line-height: 1.5;
  font-weight: 400;
  padding-bottom: 2rem;
  color: hsl(233, 8%, 79%);
}

.numbers ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.numbers-section {
  display: flex;
  gap: 1rem;
}

.numbers-section img {
  height: 7rem;
}

.numbers-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.2rem;
}

.numbers-text h4 {
  color: hsl(233, 8%, 79%);
  font-size: 1.8rem;
  font-weight: 700;
}

.numbers-text a {
  color: hsl(240, 100%, 5%);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 800;
}

.numbers-text a:hover {
  color: hsl(5, 85%, 63%);
  cursor: pointer;
}

.numbers-text p {
  line-height: 1.5;
  color: hsl(236, 13%, 42%);
}

@media screen and (width >= 65rem) {
  body {
    display: grid;
    grid-template-rows: 1fr auto;
  }
  main {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    row-gap: 2rem;
    padding: 6rem;
  }
  .nav-row {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    gap: 1rem;
    padding: 0;
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    height: auto;
    background: none;
    max-width: none;
  }
  .nav a {
    font-size: 1.2rem;
  }
  .nav ul {
    gap: 3rem;
  }
  .title {
    font-size: 4rem;
    width: 8ch;
    grid-row: 3 / 3;
    grid-column: 1 / 1;
  }
  .link {
    justify-content: space-between;
    grid-row: 3 / 3;
    grid-column: 2 / 2;
  }
  .link p {
    font-size: 1.1rem;
  }
  .middle {
    gap: 2rem;
    padding: 2rem;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    min-width: 24rem;
  }
  .middle ul {
    flex: 1;
    justify-content: space-evenly;
  }
  .middle li {
    justify-content: center;
  }
  .middle h2 {
    font-size: 3rem;
  }
  .middle a {
    font-size: 1.6rem;
  }
  .middle P {
    font-size: 1.1rem;
  }
  .numbers {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
  }
  .numbers ul {
    display: contents;
  }
  .numbers-section:nth-child(1) {
    grid-column: 1 / 2;
  }
  .numbers-section:nth-child(2) {
    grid-column: 2 / 3;
  }
  .numbers-section:nth-child(3) {
    grid-column: 3 / 4;
  }
  .numbers-section {
    height: 10rem;
  }
  .numbers-section img {
    height: auto;
  }
  .numbers-text a {
    font-size: 1.4rem;
  }
  .numbers-text p {
    font-size: 1.1rem;
  }
  .top {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
  }
  #menu,
  #close,
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
    object-fit: cover;
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}
